@import './../../common/modern-reset.css';
@import './../../common/base.css';

body {
  margin: 0;
}

.container {
  display: grid;
  margin: 0;
  grid-template-columns: auto repeat(12, 54px) auto;
  column-gap: 24px;
  /* max-width: 960px; */
  /* margin-inline: auto; */

  &::before {
    position: absolute;
    inset: 0;
    background:url(../grid.png) 50% 0 repeat-y;
    opacity: .3;
    z-index: -1;
    content: "";
  }

  .header {
    padding: 2rem 1rem;
    grid-column: 2 / -2;
    background: var(--pink);
  }
  .navigation {
    padding: 2rem 1rem;
    grid-column: 2 / -2;
    background: var(--green);
  }
  .main {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2 / -2;
    background: var(--yellow);

    & > * {
      padding: 2rem 1rem;
    }

    .book {
      grid-column: span 4;
      background: var(--orange);
    }
    .news {
      grid-column: 5 / -1;
      background: red;
    }
    .board {
      grid-column: span 4;
      background: tomato;
    }
    .favorite {
      grid-column: 5 / span 4;
      background: salmon;
    }
    .twitter {
      grid-column: span 4;
      background: greenyellow;
    }
  }
  .footer {
    padding: 2rem 1rem;
    grid-column: 2 / -2;
    background: var(--blue);
  }
}